#logo {
    width: 50px;
    /* height: 30px; */
    /* size: 90px; */
    font-size: 40px;
    margin-bottom: 15px;
    cursor: pointer;
    /* background-color: black; */
}

body {
    /* background-color: rgb(108, 209, 223 ; */
    /* background-color: rgb(108, 209, 223); */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::selection {
    background-color: #13547a;
    color: white;
}

/* =================================================================== */
/* =================================================================== */
/* =================================================================== */

/* NAVBAR */
.subcontainer {
    width: 100%;
    /* background-color: #80d0c7;    */
    /* position: sticky; */
    position: absolute;
    top: 0;
    display: flex;
}

.navbar {
    padding: 10px 30px;
}

.navbar-inner-cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon-cont {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
}

.icon-cont #logo {
    color: rgb(80, 173, 212);
    margin: 0;
}

.icon-cont h1 {
    margin: 0;
    font-size: 25px;
}

.link-cont {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-grow: 0;
}

.link-cont ul {
    display: flex;
    gap: 10px;
}

.link-cont ul li {
    font-size: 15px;
    transition: 0.3s ease;
}

.link-cont ul li:active {
    transform: scale(0.9);
}

.link-cont ul li a {
    color: white !important;
}

.button1 {
    width: 150px;
    padding: 10px 15px;
    border-radius: 15px;
    border: none;
    background-color: rgb(28, 112, 148);
    color: white;
    font-size: 15px;
    font-weight: 700;
    margin-left: -10px;
    transition: 0.3s ease;
}

.button1:active {
    transform: scale(0.9);
}



/* ============================================ */

/* section1 */
.section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/portrait-attractive-latin-studen.jpg') no-repeat center/cover;
    /* background-color: rgb(52, 109, 133); */
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    border-bottom-right-radius: 250px;
}

.head {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: white;
}


#headerh1 {
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
}

#headerh5 {
    color: #429ed3;
    font-weight: 900;
    font-size: 30px;
}

.search-container {
    /* background-color: aqua; */
    /* box-shadow: 0 25px 70px -7px rgb(19, 80, 115); */
    border-radius: 30px;
    overflow: hidden;
    width: 750px;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.3s ease;
}
.search-container:focus-within {
    box-shadow: 0 25px 70px -10px rgb(19, 80, 115);
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
    height: 60px;
    padding: 10px;
    text-align: center;
    position: relative;
    color: #1f97ca;
}


.searchbutton {
    border: none;
    border-radius: 30px;
    width: 100px;
    height: 50px;
    position: absolute;
    right: 1%;
    background-color: #1c7094;
    color: white;
    font-size: 20px;
    /* margin-top: 5px; */
    /* text-align: end; */
    /* margin-left: 49%; */
}

#logo2 {
    position: absolute;
    left: 2%;
    top: 30%;
    color: #1f97ca;
    /* margin-right: 54%; */
    font-size: x-large;
    /* margin-top: 16px; */
    z-index: 10;
    /* margin-left: 2px; */
}

/* ============================================ */
/* ============================================ */
/* ============================================ */
/* ============================================ */

.courses {
    /* background-color: aqua; */
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
}

#courseh1 {
    font-size: 50px;
    color: #1b6794;
    font-weight: 700;
    /* text-decoration: underline; */
}

.course-p {
    display: flex;
    /* flex-direction: row; */
    margin: 20px;
}

#first {
    font-size: 20px;
    margin: 0 20px;
    text-decoration: underline;
    text-underline-offset: 23px;
    cursor: pointer;
    color: rgb(52, 109, 133);
}



#second {
    font-size: 20px;
    margin: 0 50px;
    /* text-decoration: underline; */
    text-underline-offset: 23px;
    cursor: pointer;
    /* color:rgb(52, 109, 133) ; */
}

#second:hover {
    color: rgb(52, 109, 133);
    text-decoration: underline;
}


#hr {
    margin-top: -5px;

}


.cardsparent {
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}


.card {
    width: max(300px, 30%);
    cursor: pointer;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
    /* color: #0c5b7c; */
    overflow: hidden;
    border: none;
    border-radius: 25px;
    transition: 0.5s ease;
}

.card:hover {
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.2);
    transform: translateY(-8px);
    background-color: #1c7094;
    color: white;
}

.card-img-top {
    height: 40vh;
    object-fit: cover;
}

.card-body {
    padding: 30px;

}

.card-title {
    /* background-color: aqua; */
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #1b6794;
}

.card:hover .card-title {
    color: white;
}

.card-text {
    /* background-color: aqua; */
    padding-top: 15px;
    text-align: center;
}


.tutorparent {
    /* background-color: lightblue; */
    margin-top: 120px;
    padding: 0 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.tutor-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(102, 73, 10); */
    width: 40%;
}

.tutorh1 {
    font-weight: bold;
    font-size: 50px;
    color: #1b6794;
}

.tutorh3 {
    font-weight: bold;
    color: #1b6794;
    font-size: 23px;
    padding-bottom: 10px;
    border-bottom: 1px solid #13547a;
}

.tutorp {
    /* background-color: aqua; */
    /* text-align:center; */
    /* width: 40%; */
    color: #4e7a95;
    text-align: center;
    margin-top: 15px;
    font-size: 22px;
}


.tutorimg {
    /* width: 40%; */
    height: 70vh;
    border-radius: 30px;
    box-shadow: 5px 10px 50px -10px rgb(0, 0, 0, 0.5);
}

/* ============================================================== */
/* ============================================================== */
/* ============================================================== */
/* ============================================================== */

/* REVIEWS */
.reviews-cont {
    margin-top: 50px;
}

.heading h1 {
    font-size: 50px;
    font-weight: bold;
    /* background-color: aqua; */
    color: #1b6794;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}


.reviews {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    gap: 20px;
}


.rate {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
}

.ratep {
    text-align: center;
}

/* ============================ */
/* ============================ */
/* ============================ */
/* ============================ */

/* LOCATION */
.get h1 {
    font-size: 50px;
    color: #1b6794;
    font-weight: bold;
    text-align: center;
    margin-top: 150px;
}

.getin {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 50px;
    width: 100%;
}

.map {
    /* margin-top: 50px; */
    height: 60vh;
    width: 60%;
    text-align: center;
    /* background-color: aqua; */
}

.map1 {
    height: 100%;
    width: 100%;
    border-radius: 30px;
}

.address {
    /* margin-top: 100px; */
    /* margin: 15px 20px; */
    width: 415px;
}

.addressh {
    font-weight: bold;
    font-size: 35px;
    color: #135073;
}

.addressp {
    color: #1b6794;
    font-weight: bold;
    cursor: pointer;
}

.addressdiv {
    font-size: 18px;
}

.addressdiv p a {
    text-decoration: none;
}

.no {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* =================================================================================== */
/* =================================================================================== */
/* =================================================================================== */
/* =================================================================================== */
/* =================================================================================== */

/* FOOTER */

.footer {
    margin-top: 10em;
    height: 400px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1a2f3a;
}

.footerlogo {
    align-items: flex-start;
}

.footerlogo i {
    color: rgb(80, 173, 212);
}

.footerlogo h1 {
    color: rgb(255, 255, 255);
}

.footer>div {
    /* background-color: lightcoral; */
    margin: 15px;
    height: 70%;
}

.footerbody h2 {
    /* background-color: aqua; */
    color: #227cb0;
    cursor: pointer;
    font-weight: bold;
}

.footerbody p {
    color: #ffffff;
    cursor: pointer;
    font-size: 15px;
}


.end {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: #1a2f3a;
    padding: 10px;
    color: #ffffff;
}

.portfolio a,
.footerbody p a {
    text-decoration: none;
    color: #ffffff;
}


/* Media Query */


@media only screen and (max-width: 1400px) {
    .getin {
        /* flex-direction: column; */
        align-items: center;
    }

    .map {
        width: 65%;
    }

    .map1 {
        width: 90%;
    }

    .address {
        width: 415px;
        /* margin-right: 20px; */
    }

    .addressh {
        display: inline;
        margin-left: 7px;
    }

}




@media only screen and (max-width: 1200px) {
    .navli {
        margin: 0 2px;
        /* margin-left: 10px; */
    }

    #button1 {
        margin-left: 20px;
    }

    .getin {
        /* flex-direction: column; */
        align-items: center;
    }

    .footer {
        margin: 10em 20px 0px 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .card {
        width: max(300px, 40%);
        margin: 10px;
    }

    .email {
        display: block;
        width: 200px;
        overflow-wrap: anywhere;
    }
}

@media only screen and (max-width: 850px) {
    .search-container {
        width: 80%;
    }

    .search-input {
        text-align: left;
        padding-left: 50px;
    }

    #headerh1 {
        font-size: 50px;
        margin-bottom: 30px;
    }

    .reviews {
        flex-wrap: wrap;
    }

    .getin {
        flex-direction: column;
    }

    .address {
        margin-top: 100px;
    }

    .map {
        width: 90%;
    }
}

@media only screen and (max-width: 800px) {
    .cardsparent {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }

    .tutorimg {
        width: 60%;
    }

    .email {
        display: inline;
    }

    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footerbody {
        display: flex;
        flex-direction: column;
        align-self: center;
        text-align: center;
    }

    .footerbody h2,
    .footerlogo h1 {
        font-size: 40px;
    }

    .footerbody p {
        font-size: 25px;
    }

    .end {
        margin-top: 3em;
    }
}

@media only screen and (max-width: 650px) {
    .search-container {
        width: 95%;
    }

    .search-input {
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .address {
        width: 80%;
    }

    .addressdiv {
        font-size: 15px;
    }

    .addressh {
        font-size: 20px;
    }
}