#logo {
    width: 50px;
    /* height: 30px; */
    /* size: 90px; */
    font-size: 40px;
    margin-bottom: 15px;
    cursor: pointer;
    /* background-color: black; */
}

.container1 {
    /* background-color: aqua; */
    /* padding: 0 10%; */
}


body {
    /* font-family:'Times New Roman', Times, serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: rgb(108, 209, 223 ; */
    /* background-color: rgb(108, 209, 223); */
}

.subcontainer {
    background-color: #80d0c7;
    /* position: sticky; */
    position: sticky !important;
    z-index: 1 !important;
    display: flex;
}


#button1 {
    width: 150px;
    height: 45px;
    border-radius: 25px;
    border: none;
    background-color: orange;
    color: white;
    font-size: large;
    margin-left: -10px;
}

#button1:hover {
    color: black !important;
    transition: 0.7s;
}

.navli {
    /* background-color: blue; */
    margin: 0 25px;
    /* color: white !important; */
}

.nav-link:hover {
    color: white !important;
    /* background-color: aqua; */
    transition: 0.7s;
}


/* section1 */

section {
    /* background-color:rgb(52, 109, 133) ; */
    height: 86.5vh;
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.head {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
}


#headerh1 {
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    font-size: 60px;
    /* margin-top: 13%; */
    color: white;
    font-weight: bold;
    text-align: center;
}

.search-container {
    /* background-color: aqua; */
    width: 750px;
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.search-input {
    border: none;
    border-radius: 30px;
    width: 100%;
    height: 60px;
    text-align: center;
    /* position: relative; */
}

.searchbutton {
    border: none;
    border-radius: 30px;
    width: 100px;
    height: 50px;
    position: absolute;
    right: 1%;
    background-color: #80d0c7;
    color: white;
    font-size: x-large;
    /* margin-top: 5px; */
    /* text-align: end; */
    /* margin-left: 49%; */
}

#logo2 {
    position: absolute;
    left: 2%;
    top: 30%;
    color: rgb(9, 154, 173);
    /* margin-right: 54%; */
    font-size: x-large;
    /* margin-top: 16px; */
    z-index: 10;
    /* margin-left: 2px; */
}

.courses {
    /* background-color: aqua; */
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
}

#courseh1 {
    font-size: 50px;
    font-weight: bold;
    /* text-decoration: underline; */
}

.course-p {
    display: flex;
    /* flex-direction: row; */
    margin: 20px;
}

#first {
    font-size: 20px;
    margin: 0 20px;
    text-decoration: underline;
    text-underline-offset: 23px;
    cursor: pointer;
    color: rgb(52, 109, 133);
}



#second {
    font-size: 20px;
    margin: 0 50px;
    /* text-decoration: underline; */
    text-underline-offset: 23px;
    cursor: pointer;
    /* color:rgb(52, 109, 133) ; */
}

#second:hover {
    color: rgb(52, 109, 133);
    text-decoration: underline;
}


#hr {
    margin-top: -5px;

}


.cardsparent {
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    /* height: 60vh; */
    justify-content: center;
    /* margin: 0 50px; */
    /* border: 2px solid black; */
}


.card {
    /* background-color: aqua; */
    margin: 0 15px;
    /* border: 1px solid black; */
    width: max(300px, 30%);
    cursor: pointer;
    box-shadow: 10px 15px 20px rgb(136, 136, 136);
}

.card:hover {
    transform: translateY(-8px);
    transition: 0.5s;
}

.card-img-top {
    height: 40vh;
    object-fit: cover;
}


.card-title {
    /* background-color: aqua; */
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    /* line-height: -20px; */
}

.card-text {
    /* background-color: aqua; */
    padding-top: 15px;
    font-style: italic;
}


.tutorparent {
    text-align: center;
    display: flex;
    margin-top: 5em;
    flex-direction: column;
}


.tutorh1 {
    font-weight: bold;
    font-size: 50px;
}

.tutorh3 {
    font-weight: bold;
    font-size: 23px;
    /* color: darkgray; */
    margin-top: 20px;
}

.tutorh4 {
    font-weight: bold;
    margin-top: 5px;
}


.tutorp {
    /* background-color: aqua; */
    /* text-align:center; */
    /* width: 30%; */
    text-align: center;
    margin-top: 5px;
    font-size: 22px;
    font-style: italic;
}


.tutorimg {
    width: 40%;
    /* height: 100vh; */
    /* margin-top: 30px; */
    margin: auto;
    box-shadow: 10px 15px 20px rgb(136, 136, 136);
}


.heading h1 {
    font-size: 50px;
    font-weight: bold;
    /* background-color: aqua; */
    margin-top: 100px;
    display: flex;
    justify-content: center;
}


.reviews {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}


.rate {
    text-align: center;
    margin-top: 20px;
    font-size: 23px;
}


.ratep {
    text-align: center;
}

.get h1 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 110px;
}

.map {
    /* margin-top: 50px; */
    height: 60vh;
    width: 70%;
    text-align: center;
    /* background-color: aqua; */
}

.map1 {
    height: 100%;
    width: 90%;
}


.getin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    width: 100%;
}

.address {
    /* margin-top: 100px; */
    /* margin: 15px 20px; */
    width: 415px;
}


.addressh {
    font-weight: bold;
}

.addressp {
    color: #80d0c7;
    font-weight: bold;
    cursor: pointer;
}

.addressdiv {
    font-size: 20px;
}

.addressdiv p a{
    text-decoration: none;
}

.no{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer {
    margin-top: 10em;
    display: flex;
    justify-content: space-evenly;
}
.footer > div{
    margin: 15px;
}
.footerbody h2 {
    /* background-color: aqua; */
    color: #13547a;
    cursor: pointer;
    font-weight: bold;
}

.footerbody p {
    color: #13547a;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
}

.footerbody p:hover, .addressp:hover {
    color: black !important;
    transition: 0.5s;
}


.end {
    text-align: center;
    margin-top: 8em;
    margin-bottom: 3em;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.end span {
    color: #13547a;

}

.portfolio a, .footerbody p a{
    text-decoration: none;
    color: #13547a;
}
.portfolio a:hover , .footerbody p a:hover{
    color: black;
    cursor: pointer;
}

/* Media Query */


@media only screen and (max-width: 1400px) {
    .getin {
        /* flex-direction: column; */
        align-items: center;
    }

    .map {
        width: 65%;
    }

    .map1 {
        width: 90%;
    }

    .address {
        width: 415px;
        /* margin-right: 20px; */
    }

    .addressh {
        display: inline;
        margin-left: 7px;
    }

}




@media only screen and (max-width: 1200px) {
    .navli {
        margin: 0 2px;
        /* margin-left: 10px; */
    }

    #button1 {
        margin-left: 20px;
    }

    .getin {
        /* flex-direction: column; */
        align-items: center;
    }
    .footer{
        margin: 10em 20px 0px 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .card {
        width: max(300px, 40%);
        margin: 10px;
    }
    .email{
        display: block;
        width: 200px;
        overflow-wrap: anywhere;
    }
}

@media only screen and (max-width: 850px) {
    .search-container {
        width: 80%;
    }

    .search-input {
        text-align: left;
        padding-left: 50px;
    }

    #headerh1 {
        font-size: 50px;
        margin-bottom: 30px;
    }
    .reviews{
        flex-wrap: wrap;
    }
    .getin{
        flex-direction: column;
    }
    .address{
        margin-top: 100px;
    }
    .map{
        width: 90%;
    }
}

@media only screen and (max-width: 800px) {
    .cardsparent {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
    .tutorimg{
        width: 60%;
    }
    .email{
        display: inline;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footerbody{
        display: flex;
        flex-direction: column;
        align-self: center;
        text-align: center;
    }
    .footerbody h2, .footerlogo h1{
        font-size: 40px;
    }
    .footerbody p{
        font-size: 25px;
    }
    .end{
        margin-top: 3em;
    }
}

@media only screen and (max-width: 650px) {
    .search-container {
        width: 95%;
    }
    .search-input{
        font-size: 15px;
    }
}

@media only screen and (max-width: 500px) {
    .address{
        width: 80%;
    }
    .addressdiv{
        font-size: 15px;
    }
    .addressh{
        font-size: 20px;
    }
}